.input {
  box-sizing: border-box;
  width: 100%;
  background: none;

  font-size: larger;

  color: var(--color-text);

  border: none;

  /* box-shadow: var(--shadow); */
  /* border: 1px solid var(--color-border); */
  /* border-radius: 10px; */

  &:focus {
    outline: none;
  }
}

.button {
  background-color: var(--color-bg-light);
  padding: 1px;
  border-radius: 1px;
}
