.input {
  box-sizing: border-box;
  width: 100%;
  background: none;

  font-size: larger;

  color: var(--color-text);

  border: none;

  /* box-shadow: var(--shadow); */
  /* border: 1px solid var(--color-border); */
  /* border-radius: 10px; */

  &:focus {
    outline: none;
  }
}

.button {
  background-color: var(--color-bg);
  padding: 1px;
  border: none;
  transition: background-color 100ms ease;

  &:hover {
    background-color: var(--color-bg-light);

    outline: none;
    border: none;
  }
}

.title {
  color: var(--color-text);
  text-align: left;
  font-size: 25px;
  margin-top: 0;
}

.body-text {
  color: var(--color-text);
  font-size: 19px;
  font-weight: 500;
}
