.input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-left: 10px;

  font-size: larger;

  color: var(--color-text);

  box-shadow: var(--shadow);
  border: 1px solid var(--color-border);
  border-radius: 10px;
}
