.docs {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.docs__list {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  flex: 1;
  min-height: 0;

  margin: 0;
  margin-top: 10px;
}

.docs__doc-item {
  text-align: left;
  font-size: large;

  display: flex;
  align-items: center;

  &:hover .docs__info-btn {
    opacity: 1;
  }
}

.docs__doc-item-btn {
  width: 100%;
  display: flex;

  padding-bottom: 5px;
  padding-top: 5px;

  align-items: center;
  gap: 6px;

  background: none;
  color: var(--color-text);

  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;

  & svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }
}

.docs__doc-item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.docs__bottom {
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.docs__add-btn {
  box-sizing: border-box;
  padding: 7px;
  width: 50px;
  color: var(--color-text);

  & svg {
    height: 100%;
  }
}

.docs__delete-btn {
  box-sizing: border-box;
  padding: 10px;
  width: 44px;
  height: 44px;
  background: none;
  color: var(--color-error);
}

.docs__info-btn {
  box-sizing: border-box;
  padding: 10px;
  width: 44px;
  height: 44px;
  background: none;
  color: var(--color-text);

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
