.docviewer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 30px;
  padding-top: 30px;
}

.docviewer__odt {
  max-height: 100%;
  height: 100%;

  & > * {
    height: 100%;
    overflow-y: auto;
  }
}
