@import "./common.css";
@import "./split.css";
@import "./home.css";
@import "./panel.css";
@import "./searchbar.css";
@import "./docs.css";
@import "./modal.css";
@import "./fileuploader.css";
@import "./deepsearch.css";
@import "./docviewer.css";
@import "./filters.css";
@import "./toast.css";
