.modal-container {
  width: 100vw;
  height: 100vh;

  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  inset: 0;
  margin: auto;

  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: fadeIn 0.3s ease-out;
}

.modal-container.closing {
  animation: fadeOut 0.3s ease-in forwards;
}

.modal-dialog {
  width: 500px;
  min-height: 300px;

  background-color: var(--color-bg);

  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  animation: slideUp 0.3s ease-out;
}

.modal-dialog.closing {
  animation: slideDown 0.3s ease-in forwards;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-close-btn {
  width: 50px;
  height: 50px;
  padding: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text);
}

.doc-metadata {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.doc-metadata__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9rem;
  text-align: left;
}

.doc-metadata__content p {
  margin: 0;
}

.doc-metadata__content strong {
  color: var(--color-primary);
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}
