:root {
  --color-bg-dark: hsl(0, 0%, 10%);
  --color-bg: hsl(0, 0%, 20%);
  --color-bg-light: hsl(0, 0%, 30%);
  --color-text: hsl(0, 0%, 85%);
  --color-text-muted: hsl(0, 0%, 70%);
  --color-border: hsl(0, 0%, 30%);
  --color-bg-gradient: linear-gradient(0deg, var(--color-bg-dark), var(--color-bg-light));
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.011), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

#root {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.bg {
  background-color: var(--color-bg-dark);
  box-sizing: border-box;
}

.card {
  box-sizing: border-box;
  width: 400px;
  height: 220px;

  background: var(--color-bg-gradient);
  box-shadow: var(--shadow);

  padding: 10px;
  padding-left: 30px;

  border: 1px solid var(--color-border);
  border-radius: 15px;

  & h1 {
    color: var(--color-text);
    text-align: left;
    font-size: 30px;
  }

  & p {
    color: var(--color-text-muted);
    padding-bottom: 20px;
  }
}
